{{> header}}


{{> nabvar}}
<div class="row">
    <div class="col-6">
        <h1>La Firma </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quasi obcaecati vero nesciunt est autem fugiat similique repellendus! Numquam deleniti natus eos nulla corrupti vitae, aliquam dolorum autem dolores reprehenderit.
        </p>
    </div>

    <div class="col-4">
        <img src="../assets/images/la_firma3.jpg" height="250px" width="650px" class="img-thumbnail">
    </div>

</div>

{{> footer}}